            <!-- container for the #overlay-footer background -->
            <div id="overlay-footer">
                <!-- SITE FOOTER -->
                <footer>
                    <div class="container d-flex">
                        <nav id="footer-nav" class="text-center">
                            <a href="#">Venues</a>
                            <a href="#">Contact Us</a>
                            <a href="#">Polices</a>
                            <a href="#">Terms and Conditions</a>
                            <a href="#">Partners</a>
                            <a href="#">FAQ's</a>
                        </nav>
                    </div>
                </footer>
            <!-- end of #overlay-footer background  -->
            </div>
        </main>

        <script src="js/all.js"></script>

    </body>
</html>