<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Itixy" />
    <meta name="web_author" content="Ralitsa Voronevska" />
    <meta name="theme-color" content="#602c50" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <title>Itixy</title>
    </head>

<body>
    <!-- SITE HEADER -->
    <header id="site-header">
        <!-- MegaMenu -->
        <div class="container-fluid" id="header-container">
            <div id="mega-menu">
                <div id="headerleft"><a href="index.html"><img src="img/logo.png" alt="logo" /></a></div>
                <!-- logo & toggle btn -->
                <div id="headerright">
                    <!-- TOPBAR -->
                    <div id="topbar">
                        <div class="container-fluid">
                        <nav id="topbar-nav">
                            <a href="index.html">Home</a>
                            <a href="#">Our Mission</a>
                            <a href="#">Promo Deals</a>
                            <a href="myAccount.html">My Account</a>
                        </nav>
                        </div>
                    </div>
                    <a href="#" class="toggler">
                        <span class="bar bar1"></span>
                        <span class="bar bar2"></span>
                        <span class="bar bar3"></span>
                    </a>
                    <!-- main menu -->
                    <div class="main-menu text-center">
                        <ul>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Theatre</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Calendar</a></li>
                        </ul>
                    </div>
                </div>
                <!-- END headerright -->
            </div>
            <!-- END MegaMenu -->
        </div>
    </header>

    <!-- sub menu -->
    <div class="sub-menu-container">
        <div class="sub-menu">
            <!-- sub menu left col-->
            <div class="sub-menu-left">
                <!--<h3 class="sub-menu-title">Sub</h3>-->
                <ul>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Theatre</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Cinema</a></li>
                    <li><a href="#">Exhibition &amp; Fashion</a></li>
                    <li><a href="#">Tours &amp; Festivals</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </div>
            <!-- sub menu right col -->
            <div class="sub-menu-right">
                <ul>
                    <li><a href="#">Classic</a></li>
                    <li><a href="subcategory.html">Jazz &amp; Blues</a></li>
                    <li><a href="#">Rock &amp; Metal</a></li>
                    <li><a href="#">Pop</a></li>
                    <li><a href="#">RnB &amp; Hip Hop</a></li>
                    <li><a href="#">Latin &amp; Reggae</a></li>
                    <li><a href="#">Electronic &amp; Disco</a></li>
                    <li><a href="#">Country &amp; Folk</a></li>
                    <li><a href="#">Pop Folk &amp; Chanson</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END sub menu -->